<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bookstore"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/dsl_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".JSONParser"
            android:label="@string/title_activity_jsonpaerser" >
        </activity>
        <activity
            android:name=".Login"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".Register"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name=".StartingPoint"
            android:label="@string/title_activity_starting_point" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DBLib"
            android:label="@string/title_activity_dblib" >
        </activity>
        <activity
            android:name=".OpenProfile"
            android:label="@string/title_activity_open_profile" >
        </activity>
        <activity
            android:name=".UpdateList"
            android:label="@string/title_activity_update_list" >
        </activity>
    </application>

</manifest>
